@font-face {
  font-family: "iconfont"; /* Project id 2563166 */
  src: url('iconfont.woff2?t=1621755909095') format('woff2'),
       url('iconfont.woff?t=1621755909095') format('woff'),
       url('iconfont.ttf?t=1621755909095') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian:before {
  content: "\e6ba";
}

.icon-shijian:before {
  content: "\e64f";
}

.icon-xiaoxi:before {
  content: "\e60d";
}

.icon-yanjing_huaban1:before {
  content: "\e663";
}

.icon-dianzan:before {
  content: "\e630";
}

.icon-xiangyou:before {
  content: "\e74a";
}

.icon-xiangzuo:before {
  content: "\e74b";
}

